<table class="border-separate border border-slate-400 bg-white pb-4">
  <thead>
    <tr>
      <th class="border border-slate-300 px-2">Inversion</th>
      <th class="border border-slate-300 px-2"></th>
      <th class="border border-slate-300 px-2"> <%= @amount %> USD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-slate-300 px-2">BTC</td>
      <th class="border border-slate-300 px-2"></th>
      <td class="border border-slate-300 px-2">ETH</td>
    </tr>

    <% for period in 1..12 do %>
      <tr>
        <td class="border border-slate-300 px-2"> <%= @btc.calculate(@amount, period, @btc_usd) %></td>
        <th class="border border-slate-300 px-2"></th>
        <td class="border border-slate-300 px-2"> <%= @eth.calculate(@amount, period, @eth_usd) %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<%= link_to "Export csv", {controller: "home", action: "export", format: :csv, amount: @amount, btc_usd: @btc_usd, eth_usd: @eth_usd}, class: 'bg-blue hover:bg-green text-white font-bold py-2 px-4 rounded' %>