<table class="border-separate border border-slate-400 bg-white">
  <thead>
    <tr>
      <th class="border border-slate-300 px-2">Inversion</th>
      <th class="border border-slate-300 px-2"></th>
      <th class="border border-slate-300 px-2"> <%= @amount %> USD</th>
    </tr>
  </thead>
  <tbody>
      <tr>
      <td class="border border-slate-300 px-2">BTC</td>
      <th class="border border-slate-300 px-2"></th>
      <td class="border border-slate-300 px-2">ETH</td>
    </tr>
    <tr>
      <td class="border border-slate-300 px-2">MES_1</td>
      <th class="border border-slate-300 px-2"></th>
      <td class="border border-slate-300 px-2">MES_1</td>
    </tr>
    <tr>
      <td class="border border-slate-300 px-2">MES_2</td>
      <th class="border border-slate-300 px-2"></th>
      <td class="border border-slate-300 px-2">MES_2</td>
    </tr>
    <tr>
      <td class="border border-slate-300 px-2">MES_3</td>
      <th class="border border-slate-300 px-2"></th>
      <td class="border border-slate-300 px-2">MES_3</td>
    </tr>
  </tbody>
</table>